#etchGrid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 500px;
    width: 500px;
    background-color: black;
    border: 3rem solid black;
}

.etchBoxes{
    background-color: white;
    border: 1px solid black;
}

.color-box{
    background-color: aqua;
}